*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .login-logo{
      width: 100px;
      height: 60px;
  }
  .flex{
      display: flex;
  }
  .logo img{
      height: 50px;
  }
  .navbar{
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: #98ABEE;
      padding: 10px 30px;
  }
  .inner-navbar-link{
      /*width: 30%;*/
      align-items: center;
      justify-content: space-evenly;
      gap: 2rem;
      font-size: 20px;
  }
  .inner{
      gap: 5px;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      background-color: #DFF5FF;
  }
  .inner a{
      text-decoration: none;
      color: black;
  }
  .inner:hover{
      background-color: black;
  }
  .inner:hover a{
      color: aliceblue;
  }
  .account-logo img{
      height: 50px;
  }


  .cust{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: black;
}
.cust a{
    text-decoration: none;
    color: aliceblue;
}

body{
    background-color: #98ABEE;
}
  /* form */


/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #98ABEE;
    padding: 10px;
    font-size: 30px;
    margin: 20px 5px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }