*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.login-logo{
    width: 100px;
    height: 60px;
}
.flex{
    display: flex;
}
.logo img{
    height: 50px;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #c6e6f1;
    background-image: linear-gradient(to right,#c6e6f1,#0c488e);
    padding: 10px 30px;
}
.inner-navbar-link{
    /*width: 30%;*/
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 20px;
}
.inner{
    gap: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #DFF5FF;
}
.inner a{
    text-decoration: none;
    color: black;
}
.inner:hover{
    background-color: black;

}
.inner:hover a{
    color: aliceblue;
    text-decoration: none;
}
.account-logo img{
    height: 50px;
}

/* Navbar part end */

/*--------------------------------------*/
/* Container 1 part start */
.container-1{
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: #c6e6f1;
    background-image: linear-gradient(#c6e6f1,#ebf6fc);
}
.cont1-in-1{
    padding-left: 20px;
}
.cont1-in-2 img{
    height: 90vh;
    width: 100%;
    border: none;
}
.cont1-in-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Animation of container 1*/
.cont1-in-1 h1{
    font-size: 70px;
  }

.cont1-in-1 p{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    font-size: 25px;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4s steps(40, end) 1,
      blink-caret .75s step-end infinite;
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

/* -----------------------*/
.feature-text{
    width: 100%;
    text-align: center;
    font-family: "Angkor", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #ebf6fc;
    font-size: 25px;
    padding-top: 50px;
      
}
/*--------------------------------*/
/* Container-2*/
/* &&&&&&&&&&&&&&&&&&&&*/
.parent-container2{
    background-color: #ebf6fc;
    background-image: linear-gradient(#ebf6fc,#67C6E3);
    width: 100%;
    padding: 50px 30px;
    justify-content: center;
}
.container-2{
    height: 500px;
    width: 65%;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    gap: 30px;
}
.cont2-in-1{
    align-items: center;
    flex-direction: column;
}
.cont2-in-1 h2{
    font-weight: 700;
    border-bottom: 5px solid #265073;
    margin-bottom: 10px;
    text-align: left;
}
.cont2-in-2 img{
    border-radius: 20px;
    height: 300px;
    border: none;
}


/* Container 3 */
.parent-container3{
    background-color: #67C6E3;
    width: 100%;
    padding: 50px 30px;
    justify-content: center;
}
.container-3{
    height: 500px;
    width: 65%;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    gap: 30px;
}
.cont3-in-1{
    align-items: center;
    flex-direction: column;
}
.cont3-in-1 h2{
    font-weight: 700;
    border-bottom: 5px solid #265073;
    margin-bottom: 10px;

}
.cont3-in-2 img{
    border-radius: 20px;
    height: 300px;
    border: none;
}

/*Container 4*/
/*#2D9596*/
.parent-container4{
    background-color: #67C6E3;
    background-image: linear-gradient(#67C6E3,#378CE7);
    width: 100%;
    padding: 50px 30px;
    justify-content: center;
}
.container-4{
    height: 500px;
    width: 65%;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    gap: 30px;
}
.cont4-in-1{
    align-items: center;
    flex-direction: column;
}
.cont4-in-1 h2{
    font-weight: 700;
    border-bottom: 5px solid #265073;
    margin-bottom: 10px;
}
.cont4-in-2 img{
    border-radius: 20px;
    height: 300px;
    border: none;
}

/* Container 5*/
.parent-container5{
    background-color: #378CE7;
    background-image: linear-gradient(#378CE7,#5356FF);
    width: 100%;
    padding: 50px 30px;
    justify-content: center;
}
.container-5{
    height: 500px;
    width: 65%;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    gap: 30px;
}
.cont5-in-1{
    align-items: center;
    flex-direction: column;
}
.cont5-in-1 h2{
    font-weight: 700;
    border-bottom: 5px solid #265073;
    margin-bottom: 10px;
}
.cont5-in-2 img{
    border-radius: 20px;
    height: 300px;
    border: none;
}


